<div class="BodyContent">
    <div class="headerContent">
        <div class="headerContentTop flex justify-content-between align-items-center">
            <h5>Mes Utilisateurs</h5>
            <div>
                <button class="p-link layout-topbar-menu-button layout-topbar-button">
                    <i color="#eee" class="pi pi-filter-fill "></i>
                </button>
                <button class="p-link layout-topbar-menu-button layout-topbar-button">
                    <i color="#eee" class="pi pi-ellipsis-v"></i>
                </button>

            </div>

        </div>
    </div>
    <div class="RepeaterList">
        <div class="flex justify-content-between">
            <div class="IconRight" style="color:#3911ec">
                <i class="pi  pi-arrow-circle-up"></i>
            </div>

            <div class="contentTitlePlusSubTitle">
                <strong>test test test</strong>
                <span>000156 test test test</span>
            </div>
            <div class="contentValueSubValue">
                <strong>2.6</strong>
                <span>0.1</span>
            </div>
        </div>
    </div>

    <div class="RepeaterList">
        <div class="flex justify-content-between">
            <div class="IconRight" style="color:#b89818">
                <i class="pi  pi-arrow-circle-up"></i>
            </div>

            <div class="contentTitlePlusSubTitle">
                <strong>test test test</strong>
                <span>000156 test test test</span>
            </div>
            <div class="contentValueSubValue">
                <strong>2.6</strong>
                <span>0.1</span>
            </div>
        </div>
    </div>

    <div class="RepeaterList">
        <div class="flex justify-content-between">
            <div class="IconRight" style="color:#22c55e">
                <i class="pi  pi-arrow-circle-down"></i>
            </div>

            <div class="contentTitlePlusSubTitle">
                <strong>test test test</strong>
                <span>000156 test test test</span>
            </div>
            <div class="contentValueSubValue">
                <strong>2.6</strong>
                <span>0.1</span>
            </div>
        </div>
    </div>

    <div class="RepeaterList">
        <div class="flex justify-content-between">
            <div class="IconRight" style="color:#ccc">
                <i class="pi  pi-circle-fill"></i>
            </div>

            <div class="contentTitlePlusSubTitle">
                <strong>test test test</strong>
                <span>000156 test test test</span>
            </div>
            <div class="contentValueSubValue">
                <i class="pi  pi-exclamation-triangle"></i>
                

            </div>
        </div>
    </div>
    <div class="headerContent mt-4">
        <div class="headerContentTop flex justify-content-between align-items-center">
            <h5>Autres</h5>
            <div>
                <button class="p-link layout-topbar-menu-button layout-topbar-button">
                    <i color="#eee" class="pi pi-filter-fill "></i>
                </button>
                <button class="p-link layout-topbar-menu-button layout-topbar-button">
                    <i color="#eee" class="pi pi-ellipsis-v"></i>
                </button>

            </div>

        </div>
    </div>
    <div class="RepeaterList">
        <div class="flex justify-content-between">
            <div class="IconRight" style="color:#3911ec">
                <i class="pi  pi-arrow-circle-up"></i>
            </div>

            <div class="contentTitlePlusSubTitle">
                <strong>test test test</strong>
                <span>000156 test test test</span>
            </div>
            <div class="contentValueSubValue">
                <strong>2.6</strong>
                <span>0.1</span>
            </div>
        </div>
    </div>

    <div class="RepeaterList">
        <div class="flex justify-content-between">
            <div class="IconRight" style="color:#b89818">
                <i class="pi  pi-arrow-circle-up"></i>
            </div>

            <div class="contentTitlePlusSubTitle">
                <strong>test test test</strong>
                <span>000156 test test test</span>
            </div>
            <div class="contentValueSubValue">
                <strong>2.6</strong>
                <span>0.1</span>
            </div>
        </div>
    </div>

    <div class="RepeaterList">
        <div class="flex justify-content-between">
            <div class="IconRight" style="color:#22c55e">
                <i class="pi  pi-arrow-circle-down"></i>
            </div>

            <div class="contentTitlePlusSubTitle">
                <strong>test test test</strong>
                <span>000156 test test test</span>
            </div>
            <div class="contentValueSubValue">
                <strong>2.6</strong>
                <span>0.1</span>
            </div>
        </div>
    </div>

    <div class="RepeaterList">
        <div class="flex justify-content-between">
            <div class="IconRight" style="color:#ccc">
                <i class="pi  pi-circle-fill"></i>
            </div>

            <div class="contentTitlePlusSubTitle">
                <strong>test test test</strong>
                <span>000156 test test test</span>
            </div>
            <div class="contentValueSubValue">
                <i class="pi  pi-exclamation-triangle"></i>
                

            </div>
        </div>
    </div>
    <div class="RepeaterList">
        <div class="flex justify-content-between">
            <div class="IconRight" style="color:#3911ec">
                <i class="pi  pi-arrow-circle-up"></i>
            </div>

            <div class="contentTitlePlusSubTitle">
                <strong>test test test</strong>
                <span>000156 test test test</span>
            </div>
            <div class="contentValueSubValue">
                <strong>2.6</strong>
                <span>0.1</span>
            </div>
        </div>
    </div>

    <div class="RepeaterList">
        <div class="flex justify-content-between">
            <div class="IconRight" style="color:#b89818">
                <i class="pi  pi-arrow-circle-up"></i>
            </div>

            <div class="contentTitlePlusSubTitle">
                <strong>test test test</strong>
                <span>000156 test test test</span>
            </div>
            <div class="contentValueSubValue">
                <strong>2.6</strong>
                <span>0.1</span>
            </div>
        </div>
    </div>
    <div class="RepeaterList">
        <div class="flex justify-content-between">
            <div class="IconRight" style="color:#22c55e">
                <i class="pi  pi-arrow-circle-down"></i>
            </div>

            <div class="contentTitlePlusSubTitle">
                <strong>test test test</strong>
                <span>000156 test test test</span>
            </div>
            <div class="contentValueSubValue">
                <strong>2.6</strong>
                <span>0.1</span>
            </div>
        </div>
    </div>

    <div class="RepeaterList">
        <div class="flex justify-content-between">
            <div class="IconRight" style="color:#ccc">
                <i class="pi  pi-circle-fill"></i>
            </div>

            <div class="contentTitlePlusSubTitle">
                <strong>test test test</strong>
                <span>000156 test test test</span>
            </div>
            <div class="contentValueSubValue">
                <i class="pi  pi-exclamation-triangle"></i>
                

            </div>
        </div>
    </div>
</div>