.BodyContent .headerContent .pi {
    color: #ccc;
    margin-left: 10px;
}
.RepeaterList {
    padding-top: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
  }
  .headerContentTop{
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
 
  }
  .contentTitlePlusSubTitle,.contentValueSubValue {
    display: flex;
    flex-direction: column;
  }

  .IconRight{
    width: 30px;
    margin-right: 15px;
  }
  .contentValueSubValue{
    margin-left: 15px;
  }
  .contentTitlePlusSubTitle {
    width: 100%;
}

.RepeaterList .pi {
    font-size: 20px;
  }
  .headerContent  h5 {
    font-size: 1.2rem;
    margin-bottom: 0px !important;
  }