<div style="min-height: 100px; min-width:40vw;   max-width: 40vw;  padding: 1.5rem 0px;">
    <div class="modal-header flex align-items-center justify-content-between modal-basic-title">
        <h4 class="modal-title" > Loire-Bretagne (4)</h4>
        <div class="buttonClose">
            <button class="p-link layout-topbar-menu-button layout-topbar-button" (click)="hide()"   >
              <i color="#eee" class="pi pi-times"></i>
            </button>
            <button class="p-link layout-topbar-menu-button layout-topbar-button">
                <i color="#eee" class="pi pi-ellipsis-v"></i>
            </button>
        </div>

      </div>
      <div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, </p>
      </div>
      <div class="modal-body mt-5" >
        <div class="listModalTableView">

                <p-tabView>
                    <p-tabPanel header="Validation">
                     your form

                    </p-tabPanel>
                    <p-tabPanel header="Historique">


                        <p>  your form</p>
                    </p-tabPanel>
                    <p-tabPanel header="Utilisteurs">


                        <p>  your form</p>
                    </p-tabPanel>
                </p-tabView>

        </div>
      </div>


</div>
