.comment-title {
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .comment-p {
    margin-top: 2rem;
  }
  
  .buttonCloseTopRight {
    align-self: flex-start;
  }
  
  .modal-header-content {
    flex: 1;
    display: flex;
    align-items: flex-start;
  }
  
  .modal-title {
    display: flex;
    align-items: center;
    margin-left: 1rem;
  }
  
  .modal-title h3,
  .modal-title p {
    margin: 0;
  }
  
  
  .comment-text {
    display: flex;
    flex-direction: column;
  }
  
  .comment-text h3,
  .comment-text p {
    margin: 0;
    text-align: left;
  }
  
  .p-inputtextarea {
    width: 100%;
    height: 200px;
    border-radius: 8px;
  }
  
  .buttonGroup {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 1rem;
  }
  
  .buttonGroup button {
    width: 50%;
    flex: 1;
    margin: 0 5px;
  }
  
  .modal-body {
    border-radius: 22px;
  }
  
  .p-button {
    display: inline-block !important;
  }
  
  .custom-icon {
    color: darkgreen;
    text-shadow: 3px 5px 10px rgba(0, 255, 0, 0.5);
  }
  
  