<p-tabView>
    <p-tabPanel header="Capteurs">

        <span class="p-input-icon-left custom-input">
            <i class="pi pi-search"></i>
            <input type="text" pinputtext="" class="p-inputtext p-component p-element custom-input"
                placeholder="Rechercher">

        </span>
     <app-capteurs></app-capteurs>
    
    </p-tabPanel>
    <p-tabPanel header="Secteurs">

        <span class="p-input-icon-left custom-input">
            <i class="pi pi-search"></i>
            <input type="text" pinputtext="" class="p-inputtext p-component p-element custom-input"
                placeholder="Rechercher">

        </span>
      <app-secteurs></app-secteurs>
    </p-tabPanel>
    <p-tabPanel header="Utilisteurs">

        <span class="p-input-icon-left custom-input">
            <i class="pi pi-search"></i>
            <input type="text" pinputtext="" class="p-inputtext p-component p-element custom-input"
                placeholder="Rechercher">

        </span>
          <app-utilisateurs></app-utilisateurs>
    </p-tabPanel>
</p-tabView>