<div class="scale">
    <!-- Contenu de l'échelle -->
    <section>
        <h6>Tendances</h6>
        <ul class="prime-icons">
            <li><span class="pi pi-arrow-up"></span>en hausse</li>
            <li><span class="pi pi-equals"></span>stable</li>
            <li><span class="pi pi-arrow-down"></span>en basse</li>
        </ul>
    </section>
    
    <section>
        <h6>Niveaux</h6>
        <ul class="prime-icons">
            <li><span class="pi pi-circle-fill" style="color: var(--blue-800);"></span>très haut</li>
            <li><span class="pi pi-circle-fill" style="color: var(--blue-400);" ></span>haut</li>
            <li><span class="pi pi-circle-fill" style="color: #33D4FF;"></span>modérémment haut</li>
            <li><span class="pi pi-circle-fill" style="color: var(--green-600);"></span>moyen</li>
            <li><span class="pi pi-circle-fill" style="color: var(--yellow-400);"></span>modérémment bas</li>
            <li><span class="pi pi-circle-fill" style="color: var(--orange-500);"></span>bas</li>
            <li><span class="pi pi-circle-fill" style="color: var(--red-600);"></span>très bas</li>
            <li><span class="pi pi-circle-fill" style="color: var(--gray-300);"></span>pas de données</li>
        </ul>
    </section>
    
    <section>
        <h6>Validation</h6>
        <ul class="prime-icons">
            <li><span class="pi pi-circle-fill"></span>validé</li>
            <li><span class="pi pi-circle"></span>a valider</li>
            <li><span class="pi pi-times-circle"></span>exclu des données</li>
        </ul>
    </section>    
</div>
